
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.body{
  background-color: #444444;
}

.profile a:visited {
    color: #DDDDDD !important;
}
.profile a:link {
    color: #DDDDDD !important;
}
.profile a:active {
    color: #DDDDDD !important;
}
.profile a:hover {
    color: #FFFFFF !important;
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}

.chinese-name{
  font-family: "DFKai-sb";
  font-size: 36px;
  font-weight: bold;
}

.english-name{
  font-size: 32px;
  font-weight: bold;

  font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.email{
  margin: 10px auto 10px;
  font-family: monospace;
}

.no-bullet-list{
  list-style: none;
}

.profile{
  color: #DDDDDD;
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile-img{
  text-align: center;
  /*max-width: 270px;
  margin: 0px 20px 0px;
  border-style: solid;
  border-color: red;*/
}

.profile-img > img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
/*  border-radius: 50%; */
}

.profile-info{
  height: 275px;
  vertical-align: center;
  position: relative;
  font-size: 18px;
  background-color: rgba(30%,30%,30%,0.5);
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  /*
  border-style: solid;
  border-color: yellow;
  */
}

.profile-description{
  margin: 0px 0px 0px;
}

.edu-img {
  margin: 0px;
}

.info-list{
  /*float: left;*/
}

.social-links {
 /* float: right;*/
}

.social-links > a {
  color: inherit;
  text-decoration: none;
}

hr {
  color: #000000 !important;
}

.section{
  padding-bottom: 20px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  margin: 20px auto 20px;
}


.school{
}

.date{
  color: #777777;
  font-size: 16px !important;
}

.degree{
}

.edu {
  padding-bottom: 10px;
}

.edu-img{
  max-width: 200px;
  margin: 0 auto;
}

.edu-info{
}

.chess{
  background-color: #eeeeee;
}


.item{
  min-height: 150px;
  overflow: hidden;
  padding-bottom: 20px;
}


.item-img{
  /*min-height: 200px !important;*/
}


.item-img > img{
  box-shadow: 4px 4px 3px -3px rgba(20%,20%,40%,0.5);
}

.item-info{
  vertical-align: top;
}

.proj{
  padding-bottom: 20px;
}

.proj-title{
  font-weight: bold;
}

.proj-img{
  text-align: center !important;
}

.paper{
  font-size: 18px;
  font-weight: bold;
  color: #00337D;
}

.author{
  font-size: 16px !important;
  margin: 5px auto 0px;
}

.conf{
  font-size: 16px !important;
  font-style: italic !important;
  margin: 5px auto 0px;
}


.last-update{
  color: #208040;
}

.tag{
  padding-bottom: 5px;
  font-family: Arial;
}

.fa-fw{
  padding-right: 20px !important;
}

.white-space{
  margin-right: 50px;
}


.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #dddddd;
}

.footer > .container {
  padding-top: 80px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}




#home { 
    background: url(./background.jpg) no-repeat fixed center;
    height: auto;
    width: 100%; 
    margin: 0 0; 
    position: relative; 
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    padding: 100px 0px;
    background-size: cover;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}


.about-section {
    height: auto;
    font-size: 18px;
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.news-section {
    height: auto;
    font-size: 16px;
    background: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}


.publication-section {
    height: auto;
    font-size: 16px;
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.project-section {
    height: auto;
    font-size: 16px;
    background: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}


.education-section {
    height: auto;
    font-size: 18px;
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.activity-section {
    height: auto;
    font-size: 16px;
    background: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.spacer{
  width: 100%;
  height: 0px;
  margin: 20px 0px;
  background-color: #555555 !important;
}

/* navbar fade effect */
.navbar-fixed-top { background-color: rgba(45,45,45,0.5);transition: background-color 2s ease 0s;}
.navbar-fixed-top.opaque { background-color: rgba(45,45,45,0.5);transition: background-color 2s ease 0s; }
